<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <input
      class="input"
      [formControl]="control"
      [ngClass]="{ 'is-danger': showError() }"
    />
  </div>
  <ng-container *ngIf="control?.errors">
    <div class="help is-danger" *ngIf="showError()">Value is required</div>
    <div class="help is-danger" *ngIf="control?.errors?.['minlength']">
      Entered value length is:
      {{control.errors?.['minlength']?.['actualLength']}} Expected value length
      is:
      {{control.errors?.['minlength']?.['requiredLength']}}
    </div>
  </ng-container>
</div>
